
body
{
	font-family: Arial, Helvetica, sans-serif;
	background:#ccc;
}
pre{
	padding: 20px;
    margin: 40px;
}
p{
margin: 0 0 10px;
    font-size: 24px;
    text-align: center;
    color: #080808;
    background:#ebebeb;
    box-shadow:0px 0px 10px #B0BEC5;
}
button#signout-button {
    float: right;
}
.table table-striped
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
}
table tr{
 font-size:20px;
}
tr:nth-child(odd){
	    background: #CCC;
	}
table tr {
    font-size: 20px;
    background: #CCC;
    font-family: sans-serif;
    box-shadow:0px 0px 10px #B0BEC5;
}
#content{
background:#ebebeb;
box-shadow:0px 0px 10px #B0BEC5;
}
